{{!< default}}

{{> _navigation}}

<main class="main-container" id="main-container">
	<!-- Hero Slider -->

	{{#get "posts" filter="featured:true" include="authors,tags" limit="5" as |featured|}}
		{{#if featured}}
			<section class="hero">
				<div id="flickity-hero" class="carousel-main">
					{{#foreach featured}}

					<div class="carousel-cell hero__slide">
						<article class="hero__slide-entry entry">
							{{#if feature_image}}
	                            <style>
	                              #featured-bg-{{id}} {
	                                background-image: url({{img_url feature_image size='l'}});
	                              }
	                            
	                              @media(max-width: 768px) {
	                                #featured-bg-{{id}} {
	                                  background-image: url({{img_url feature_image size='m'}});
	                                }
	                              }
	                            </style>
                            	<div class="hero__slide-thumb-bg-holder" id="featured-bg-{{id}}">
									<div class="bottom-gradient"></div>
								</div>
                          	{{/if}}
							
							
							<div class="hero__slide-thumb-text-holder">
								<div class="container">
									{{#if primary_tag}}
			                            <a href="{{primary_tag.url}}" class="entry__meta-category entry__meta-category--label">{{primary_tag.name}}</a>
			                        {{/if}}
									   
									<h2 class="entry__title--lg entry__title--white">
										<a href="{{url}}">{{title}}</a>
									</h2>
								</div>
							</div>
						</article>          
					</div>

					{{/foreach}}

				</div>
				<div class="carousel-thumbs-holder">
					<div class="container">
						<div id="flickity-thumbs" class="carousel-thumbs">
							{{#foreach featured}}
								<div class="carousel-cell">
									<div class="carousel-thumbs__item">
										{{#if feature_image}}
			                            	<div class="carousel-thumbs__img-holder">
												<img src="{{img_url feature_image}}" alt="{{title}}">
											</div>
			                          	{{/if}}
										
										<h2 class="carousel-thumbs__title">
											{{title}}
										</h2>
									</div>
								</div>
							{{/foreach}}
						</div>
					</div>
				</div>

			</section>
		{{/if}}
	{{/get}}


<div class="content container">
	<div class="row">

		<!-- Blog Content -->
		<div class="col-md-8 blog__content mb-30">

			<!-- Recent News -->
			<section class="content-section section-recent-news tab-post">
				<div class="section-title-wrap">
					<h3 class="section-title">Recent News</h3>

					<!-- Tabs -->
					<div class="tabs tab-post__tabs"> 
						<ul class="tabs__list">
							<li class="tabs__item tabs__item--active">
								<a href="#tab-all" class="tabs__trigger">All</a>
							</li>
							<li class="tabs__item">
								<a href="#tab-devices" class="tabs__trigger">Devices</a>
							</li>
							<li class="tabs__item">
								<a href="#tab-robotics" class="tabs__trigger">Robotics</a>
							</li>
							<li class="tabs__item">
								<a href="#tab-aircraft" class="tabs__trigger">Aircraft</a>
							</li>
							<li class="tabs__item">
								<a href="#tab-automobile" class="tabs__trigger">Automobile</a>
							</li>
						</ul>
					</div> <!-- end tabs -->
				</div> <!-- end title wrap -->

				<!-- Tabs Content -->
				<div class="tabs__content tabs__content-trigger tab-post__tabs-content">

					<!-- Pane 1 -->
					<div class="tabs__content-pane tabs__content-pane--active" id="tab-all">
						<div class="row row-16">
							<div class="col-lg-3 col-sm-6">
								<article class="entry">
									<div class="thumb-bg-holder entry__bg-img-holder" style="background-image: url('img/blog/post_1.jpg')">
										<a href="single-post.html" class="thumb-url"></a>
										<div class="bottom-gradient"></div>
									</div>
									<div class="thumb-text-holder">   
										<h2 class="thumb-entry-title">
											<a href="single-post.html">Satelite cost tens of millions of dollars to build</a>
										</h2>
									</div>
								</article>
							</div>
							<div class="col-lg-6 col-sm-6">
								<article class="entry">
									<div class="thumb-bg-holder entry__bg-img-holder" style="background-image: url('img/blog/post_2.jpg')">
										<a href="single-post.html" class="thumb-url"></a>
										<div class="bottom-gradient"></div>
									</div>
									<div class="thumb-text-holder">   
										<h2 class="thumb-entry-title">
											<a href="single-post.html">The iPhone of Drones Is Being Built by This Teenager</a>
										</h2>
									</div>
								</article>
							</div>
							<div class="col-lg-3 col-sm-6">
								<article class="entry">
									<div class="thumb-bg-holder entry__bg-img-holder" style="background-image: url('img/blog/post_3.jpg')">
										<a href="single-post.html" class="thumb-url"></a>
										<div class="bottom-gradient"></div>
									</div>
									<div class="thumb-text-holder">   
										<h2 class="thumb-entry-title">
											<a href="single-post.html">VR and playable on a console</a>
										</h2>
									</div>
								</article>
							</div>
							<div class="col-lg-3 col-sm-6">
								<article class="entry">
									<div class="thumb-bg-holder entry__bg-img-holder" style="background-image: url('img/blog/post_4.jpg')">
										<a href="single-post.html" class="thumb-url"></a>
										<div class="bottom-gradient"></div>
									</div>
									<div class="thumb-text-holder">   
										<h2 class="thumb-entry-title">
											<a href="single-post.html">NASA is best known for building rockets</a>
										</h2>
									</div>
								</article>
							</div>
							<div class="col-lg-3 col-sm-6">
								<article class="entry">
									<div class="thumb-bg-holder entry__bg-img-holder" style="background-image: url('img/blog/post_5.jpg')">
										<a href="single-post.html" class="thumb-url"></a>
										<div class="bottom-gradient"></div>
									</div>
									<div class="thumb-text-holder">   
										<h2 class="thumb-entry-title">
											<a href="single-post.html">Digital cameras are always changing</a>
										</h2>
									</div>
								</article>
							</div>
							<div class="col-lg-6 col-sm-6">
								<article class="entry">
									<div class="thumb-bg-holder entry__bg-img-holder" style="background-image: url('img/blog/post_6.jpg')">
										<a href="single-post.html" class="thumb-url"></a>
										<div class="bottom-gradient"></div>
									</div>
									<div class="thumb-text-holder">   
										<h2 class="thumb-entry-title">
											<a href="single-post.html">How to get better Apple Watch battery life</a>
										</h2>
									</div>
								</article>
							</div>
						</div>
					</div> <!-- end pane 1 -->

					<!-- Pane 2 -->
					<div class="tabs__content-pane" id="tab-devices">
						<div class="row row-16">
							<div class="col-lg-3 col-sm-6">
								<article class="entry">
									<div class="thumb-bg-holder entry__bg-img-holder" style="background-image: url('img/blog/post_1.jpg')">
										<a href="single-post.html" class="thumb-url"></a>
										<div class="bottom-gradient"></div>
									</div>
									<div class="thumb-text-holder">   
										<h2 class="thumb-entry-title">
											<a href="single-post.html">Satelite cost tens of millions of dollars to build</a>
										</h2>
									</div>
								</article>
							</div>
							<div class="col-lg-6 col-sm-6">
								<article class="entry">
									<div class="thumb-bg-holder entry__bg-img-holder" style="background-image: url('img/blog/post_2.jpg')">
										<a href="single-post.html" class="thumb-url"></a>
										<div class="bottom-gradient"></div>
									</div>
									<div class="thumb-text-holder">   
										<h2 class="thumb-entry-title">
											<a href="single-post.html">The iPhone of Drones Is Being Built by This Teenager</a>
										</h2>
									</div>
								</article>
							</div>
							<div class="col-lg-3 col-sm-6">
								<article class="entry">
									<div class="thumb-bg-holder entry__bg-img-holder" style="background-image: url('img/blog/post_3.jpg')">
										<a href="single-post.html" class="thumb-url"></a>
										<div class="bottom-gradient"></div>
									</div>
									<div class="thumb-text-holder">   
										<h2 class="thumb-entry-title">
											<a href="single-post.html">VR and playable on a console</a>
										</h2>
									</div>
								</article>
							</div>
							<div class="col-lg-3 col-sm-6">
								<article class="entry">
									<div class="thumb-bg-holder entry__bg-img-holder" style="background-image: url('img/blog/post_4.jpg')">
										<a href="single-post.html" class="thumb-url"></a>
										<div class="bottom-gradient"></div>
									</div>
									<div class="thumb-text-holder">   
										<h2 class="thumb-entry-title">
											<a href="single-post.html">NASA is best known for building rockets</a>
										</h2>
									</div>
								</article>
							</div>
							<div class="col-lg-3 col-sm-6">
								<article class="entry">
									<div class="thumb-bg-holder entry__bg-img-holder" style="background-image: url('img/blog/post_5.jpg')">
										<a href="single-post.html" class="thumb-url"></a>
										<div class="bottom-gradient"></div>
									</div>
									<div class="thumb-text-holder">   
										<h2 class="thumb-entry-title">
											<a href="single-post.html">Digital cameras are always changing</a>
										</h2>
									</div>
								</article>
							</div>
							<div class="col-lg-6 col-sm-6">
								<article class="entry">
									<div class="thumb-bg-holder entry__bg-img-holder" style="background-image: url('img/blog/post_6.jpg')">
										<a href="single-post.html" class="thumb-url"></a>
										<div class="bottom-gradient"></div>
									</div>
									<div class="thumb-text-holder">   
										<h2 class="thumb-entry-title">
											<a href="single-post.html">How to get better Apple Watch battery life</a>
										</h2>
									</div>
								</article>
							</div>
						</div>
					</div> <!-- end pane 2 -->

					<!-- Pane 3 -->
					<div class="tabs__content-pane" id="tab-robotics">
						<div class="row row-16">
							<div class="col-lg-3 col-sm-6">
								<article class="entry">
									<div class="thumb-bg-holder entry__bg-img-holder" style="background-image: url('img/blog/post_1.jpg')">
										<a href="single-post.html" class="thumb-url"></a>
										<div class="bottom-gradient"></div>
									</div>
									<div class="thumb-text-holder">   
										<h2 class="thumb-entry-title">
											<a href="single-post.html">Satelite cost tens of millions of dollars to build</a>
										</h2>
									</div>
								</article>
							</div>
							<div class="col-lg-6 col-sm-6">
								<article class="entry">
									<div class="thumb-bg-holder entry__bg-img-holder" style="background-image: url('img/blog/post_2.jpg')">
										<a href="single-post.html" class="thumb-url"></a>
										<div class="bottom-gradient"></div>
									</div>
									<div class="thumb-text-holder">   
										<h2 class="thumb-entry-title">
											<a href="single-post.html">The iPhone of Drones Is Being Built by This Teenager</a>
										</h2>
									</div>
								</article>
							</div>
							<div class="col-lg-3 col-sm-6">
								<article class="entry">
									<div class="thumb-bg-holder entry__bg-img-holder" style="background-image: url('img/blog/post_3.jpg')">
										<a href="single-post.html" class="thumb-url"></a>
										<div class="bottom-gradient"></div>
									</div>
									<div class="thumb-text-holder">   
										<h2 class="thumb-entry-title">
											<a href="single-post.html">VR and playable on a console</a>
										</h2>
									</div>
								</article>
							</div>
							<div class="col-lg-3 col-sm-6">
								<article class="entry">
									<div class="thumb-bg-holder entry__bg-img-holder" style="background-image: url('img/blog/post_4.jpg')">
										<a href="single-post.html" class="thumb-url"></a>
										<div class="bottom-gradient"></div>
									</div>
									<div class="thumb-text-holder">   
										<h2 class="thumb-entry-title">
											<a href="single-post.html">NASA is best known for building rockets</a>
										</h2>
									</div>
								</article>
							</div>
							<div class="col-lg-3 col-sm-6">
								<article class="entry">
									<div class="thumb-bg-holder entry__bg-img-holder" style="background-image: url('img/blog/post_5.jpg')">
										<a href="single-post.html" class="thumb-url"></a>
										<div class="bottom-gradient"></div>
									</div>
									<div class="thumb-text-holder">   
										<h2 class="thumb-entry-title">
											<a href="single-post.html">Digital cameras are always changing</a>
										</h2>
									</div>
								</article>
							</div>
							<div class="col-lg-6 col-sm-6">
								<article class="entry">
									<div class="thumb-bg-holder entry__bg-img-holder" style="background-image: url('img/blog/post_6.jpg')">
										<a href="single-post.html" class="thumb-url"></a>
										<div class="bottom-gradient"></div>
									</div>
									<div class="thumb-text-holder">   
										<h2 class="thumb-entry-title">
											<a href="single-post.html">How to get better Apple Watch battery life</a>
										</h2>
									</div>
								</article>
							</div>
						</div>
					</div> <!-- end pane 3 -->

					<!-- Pane 4 -->
					<div class="tabs__content-pane" id="tab-aircraft">
						<div class="row row-16">
							<div class="col-lg-3 col-sm-6">
								<article class="entry">
									<div class="thumb-bg-holder entry__bg-img-holder" style="background-image: url('img/blog/post_1.jpg')">
										<a href="single-post.html" class="thumb-url"></a>
										<div class="bottom-gradient"></div>
									</div>
									<div class="thumb-text-holder">   
										<h2 class="thumb-entry-title">
											<a href="single-post.html">Satelite cost tens of millions of dollars to build</a>
										</h2>
									</div>
								</article>
							</div>
							<div class="col-lg-6 col-sm-6">
								<article class="entry">
									<div class="thumb-bg-holder entry__bg-img-holder" style="background-image: url('img/blog/post_2.jpg')">
										<a href="single-post.html" class="thumb-url"></a>
										<div class="bottom-gradient"></div>
									</div>
									<div class="thumb-text-holder">   
										<h2 class="thumb-entry-title">
											<a href="single-post.html">The iPhone of Drones Is Being Built by This Teenager</a>
										</h2>
									</div>
								</article>
							</div>
							<div class="col-lg-3 col-sm-6">
								<article class="entry">
									<div class="thumb-bg-holder entry__bg-img-holder" style="background-image: url('img/blog/post_3.jpg')">
										<a href="single-post.html" class="thumb-url"></a>
										<div class="bottom-gradient"></div>
									</div>
									<div class="thumb-text-holder">   
										<h2 class="thumb-entry-title">
											<a href="single-post.html">VR and playable on a console</a>
										</h2>
									</div>
								</article>
							</div>
							<div class="col-lg-3 col-sm-6">
								<article class="entry">
									<div class="thumb-bg-holder entry__bg-img-holder" style="background-image: url('img/blog/post_4.jpg')">
										<a href="single-post.html" class="thumb-url"></a>
										<div class="bottom-gradient"></div>
									</div>
									<div class="thumb-text-holder">   
										<h2 class="thumb-entry-title">
											<a href="single-post.html">NASA is best known for building rockets</a>
										</h2>
									</div>
								</article>
							</div>
							<div class="col-lg-3 col-sm-6">
								<article class="entry">
									<div class="thumb-bg-holder entry__bg-img-holder" style="background-image: url('img/blog/post_5.jpg')">
										<a href="single-post.html" class="thumb-url"></a>
										<div class="bottom-gradient"></div>
									</div>
									<div class="thumb-text-holder">   
										<h2 class="thumb-entry-title">
											<a href="single-post.html">Digital cameras are always changing</a>
										</h2>
									</div>
								</article>
							</div>
							<div class="col-lg-6 col-sm-6">
								<article class="entry">
									<div class="thumb-bg-holder entry__bg-img-holder" style="background-image: url('img/blog/post_6.jpg')">
										<a href="single-post.html" class="thumb-url"></a>
										<div class="bottom-gradient"></div>
									</div>
									<div class="thumb-text-holder">   
										<h2 class="thumb-entry-title">
											<a href="single-post.html">How to get better Apple Watch battery life</a>
										</h2>
									</div>
								</article>
							</div>
						</div>
					</div> <!-- end pane 4 -->

					<!-- Pane 5 -->
					<div class="tabs__content-pane" id="tab-automobile">
						<div class="row row-16">
							<div class="col-lg-3 col-sm-6">
								<article class="entry">
									<div class="thumb-bg-holder entry__bg-img-holder" style="background-image: url('img/blog/post_1.jpg')">
										<a href="single-post.html" class="thumb-url"></a>
										<div class="bottom-gradient"></div>
									</div>
									<div class="thumb-text-holder">   
										<h2 class="thumb-entry-title">
											<a href="single-post.html">Satelite cost tens of millions of dollars to build</a>
										</h2>
									</div>
								</article>
							</div>
							<div class="col-lg-6 col-sm-6">
								<article class="entry">
									<div class="thumb-bg-holder entry__bg-img-holder" style="background-image: url('img/blog/post_2.jpg')">
										<a href="single-post.html" class="thumb-url"></a>
										<div class="bottom-gradient"></div>
									</div>
									<div class="thumb-text-holder">   
										<h2 class="thumb-entry-title">
											<a href="single-post.html">The iPhone of Drones Is Being Built by This Teenager</a>
										</h2>
									</div>
								</article>
							</div>
							<div class="col-lg-3 col-sm-6">
								<article class="entry">
									<div class="thumb-bg-holder entry__bg-img-holder" style="background-image: url('img/blog/post_3.jpg')">
										<a href="single-post.html" class="thumb-url"></a>
										<div class="bottom-gradient"></div>
									</div>
									<div class="thumb-text-holder">   
										<h2 class="thumb-entry-title">
											<a href="single-post.html">VR and playable on a console</a>
										</h2>
									</div>
								</article>
							</div>
							<div class="col-lg-3 col-sm-6">
								<article class="entry">
									<div class="thumb-bg-holder entry__bg-img-holder" style="background-image: url('img/blog/post_4.jpg')">
										<a href="single-post.html" class="thumb-url"></a>
										<div class="bottom-gradient"></div>
									</div>
									<div class="thumb-text-holder">   
										<h2 class="thumb-entry-title">
											<a href="single-post.html">NASA is best known for building rockets</a>
										</h2>
									</div>
								</article>
							</div>
							<div class="col-lg-3 col-sm-6">
								<article class="entry">
									<div class="thumb-bg-holder entry__bg-img-holder" style="background-image: url('img/blog/post_5.jpg')">
										<a href="single-post.html" class="thumb-url"></a>
										<div class="bottom-gradient"></div>
									</div>
									<div class="thumb-text-holder">   
										<h2 class="thumb-entry-title">
											<a href="single-post.html">Digital cameras are always changing</a>
										</h2>
									</div>
								</article>
							</div>
							<div class="col-lg-6 col-sm-6">
								<article class="entry">
									<div class="thumb-bg-holder entry__bg-img-holder" style="background-image: url('img/blog/post_6.jpg')">
										<a href="single-post.html" class="thumb-url"></a>
										<div class="bottom-gradient"></div>
									</div>
									<div class="thumb-text-holder">   
										<h2 class="thumb-entry-title">
											<a href="single-post.html">How to get better Apple Watch battery life</a>
										</h2>
									</div>
								</article>
							</div>
						</div>
					</div> <!-- end pane 5 -->

				</div> <!-- end tabs content -->
			</section> <!-- end recent news -->

			<!-- Editor's Choice -->
			<section class="content-section section-editors-choice">
				<div class="section-title-wrap">
					<h3 class="section-title">Editor's Choice</h3>
				</div>

				<div class="row">

					<div class="col-lg-6">
						<article class="entry">
							<div class="entry__img-holder">
								<a href="single-post.html">
									<div class="thumb-container">
										<img data-src="img/blog/grid_post_img_1.jpg" src="img/blog/grid_post_img_1.jpg" class="entry__img lazyload" alt="" />
									</div>
								</a>
							</div>

							<div class="entry__body">
								<div class="entry__header">
									<a href="categories.html" class="entry__meta-category">devices</a>
									<h2 class="entry__title">
										<a href="single-post.html">Satelite cost tens of millions or even hundreds of millions of dollars to build</a>
									</h2>
									<ul class="entry__meta">
										<li class="entry__meta-date">
											21 October, 2017
										</li>
										<li class="entry__meta-author">
											by <a href="#">DeoThemes</a>
										</li>
									</ul>
								</div>
								<div class="entry__excerpt">
									<p>Point of Sale hardware, the till at a shop check out, has become very complex over the past ten years. Modern POS hardware includes the cash till, bar-code readers...</p>
								</div>
							</div>
						</article>
						<ul class="post-list-small">
							<li class="post-list-small__item">
								<article class="post-list-small__entry">
									<a href="single-post.html" class="clearfix">
										<div class="post-list-small__img-holder">
											<div class="thumb-container">
												<img src="img/blog/post_list_small_1.jpg" class="post-list-small__img" alt="">
											</div>
										</div>
										<div class="post-list-small__body">
											<h3 class="post-list-small__entry-title">
												What Indie Beauty Companies Can Teach Entrepreneurs About Scaling
											</h3>
											<ul class="entry__meta">
												<li class="entry__meta-date">
													<i class="ui-date"></i>
													21 October, 2017
												</li>
											</ul>
										</div>
									</a>                                        
								</article>
							</li>
							<li class="post-list-small__item">
								<article class="post-list-small__entry">
									<a href="single-post.html" class="clearfix">
										<div class="post-list-small__img-holder">
											<div class="thumb-container">
												<img src="img/blog/post_list_small_2.jpg" class="post-list-small__img" alt="">
											</div>
										</div>
										<div class="post-list-small__body">
											<h3 class="post-list-small__entry-title">
												What Indie Beauty Companies Can Teach Entrepreneurs About Scaling
											</h3>
											<ul class="entry__meta">
												<li class="entry__meta-date">
													<i class="ui-date"></i>
													21 October, 2017
												</li>
											</ul>
										</div>
									</a>                                        
								</article>
							</li>
						</ul>
					</div>

					<div class="col-lg-6">
						<article class="entry">
							<div class="entry__img-holder">
								<a href="single-post.html">
									<div class="thumb-container">
										<img data-src="img/blog/grid_post_img_2.jpg" src="img/blog/grid_post_img_2.jpg" class="entry__img lazyload" alt="" />
									</div>
								</a>
							</div>

							<div class="entry__body">
								<div class="entry__header">
									<a href="categories.html" class="entry__meta-category">tesla cars</a>
									<h2 class="entry__title">
										<a href="single-post.html">Advance Uber’s mission of bringing safe, reliable transportation to everyone</a>
									</h2>
									<ul class="entry__meta">
										<li class="entry__meta-date">
											21 October, 2017
										</li>
										<li class="entry__meta-author">
											by <a href="#">DeoThemes</a>
										</li>
									</ul>
								</div>
								<div class="entry__excerpt">
									<p>Point of Sale hardware, the till at a shop check out, has become very complex over the past ten years. Modern POS hardware includes the cash till, bar-code readers...</p>
								</div>
							</div>
						</article>
						<ul class="post-list-small">
							<li class="post-list-small__item">
								<article class="post-list-small__entry">
									<a href="single-post.html" class="clearfix">
										<div class="post-list-small__img-holder">
											<div class="thumb-container">
												<img src="img/blog/post_list_small_3.jpg" class="post-list-small__img" alt="">
											</div>
										</div>
										<div class="post-list-small__body">
											<h3 class="post-list-small__entry-title">
												The Most Powerful Thing You Can Do Is Be Yourself
											</h3>
											<ul class="entry__meta">
												<li class="entry__meta-date">
													<i class="ui-date"></i>
													21 October, 2017
												</li>
											</ul>
										</div>
									</a>                                        
								</article>
							</li>
							<li class="post-list-small__item">
								<article class="post-list-small__entry">
									<a href="single-post.html" class="clearfix">
										<div class="post-list-small__img-holder">
											<div class="thumb-container">
												<img src="img/blog/post_list_small_4.jpg" class="post-list-small__img" alt="">
											</div>
										</div>
										<div class="post-list-small__body">
											<h3 class="post-list-small__entry-title">
												The iPhone of Drones Is Being Built by This Teenager
											</h3>
											<ul class="entry__meta">
												<li class="entry__meta-date">
													<i class="ui-date"></i>
													21 October, 2017
												</li>
											</ul>
										</div>
									</a>                                        
								</article>
							</li>
						</ul>
					</div>

				</div>
			</section> <!-- end editors choice -->

			<!-- Don't Miss -->
			<section class="section-dont-miss">
				<div class="section-title-wrap">
					<h3 class="section-title">Don't Miss</h3>
				</div>

				<article class="entry post-list">
					<div class="entry__img-holder post-list__img-holder">
						<a href="single-post.html">
							<div class="thumb-container">
								<img data-src="img/blog/list_post_img_1.jpg" src="img/blog/list_post_img_1.jpg" class="entry__img lazyload" alt="" />
							</div>
						</a>
					</div>

					<div class="entry__body post-list__body">
						<div class="entry__header">
							<a href="categories.html" class="entry__meta-category">devices</a>
							<h2 class="entry__title">
								<a href="single-post.html">Satelite cost tens of millions or even hundreds of millions of dollars to build</a>
							</h2>
							<ul class="entry__meta">
								<li class="entry__meta-date">
									21 October, 2017
								</li>
								<li class="entry__meta-author">
									by <a href="#">DeoThemes</a>
								</li>
							</ul>
						</div>
						<div class="entry__excerpt">
							<p>Point of Sale hardware, the till at a shop check out, has become very complex over the past ten years. Modern POS hardware includes the cash till, bar-code readers...</p>
						</div>
					</div>
				</article>

				<article class="entry post-list">
					<div class="entry__img-holder post-list__img-holder thumb-container">
						<a href="single-post.html">
							<img data-src="img/blog/list_post_img_2.jpg" src="img/blog/list_post_img_2.jpg" class="entry__img lazyload" alt="" />
						</a>
					</div>

					<div class="entry__body post-list__body">
						<div class="entry__header">
							<a href="categories.html" class="entry__meta-category">tesla cars</a>
							<h2 class="entry__title">
								<a href="single-post.html">Advance Uber’s mission of bringing safe, reliable transportation to everyone</a>
							</h2>
							<ul class="entry__meta">
								<li class="entry__meta-date">
									21 October, 2017
								</li>
								<li class="entry__meta-author">
									by <a href="#">DeoThemes</a>
								</li>
							</ul>
						</div>
						<div class="entry__excerpt">
							<p>Point of Sale hardware, the till at a shop check out, has become very complex over the past ten years. Modern POS hardware includes the cash till, bar-code readers...</p>
						</div>
					</div>
				</article>

				<article class="entry post-list">
					<div class="entry__img-holder post-list__img-holder thumb-container">
						<a href="single-post.html">
							<img data-src="img/blog/list_post_img_3.jpg" src="img/blog/list_post_img_3.jpg" class="entry__img lazyload" alt="" />
						</a>
					</div>

					<div class="entry__body post-list__body">
						<div class="entry__header">
							<a href="categories.html" class="entry__meta-category">robotics</a>
							<h2 class="entry__title">
								<a href="single-post.html">VR and playable on a console makes it a great option to PC related VR headsets</a>
							</h2>
							<ul class="entry__meta">
								<li class="entry__meta-date">
									21 October, 2017
								</li>
								<li class="entry__meta-author">
									by <a href="#">DeoThemes</a>
								</li>
							</ul>
						</div>
						<div class="entry__excerpt">
							<p>Point of Sale hardware, the till at a shop check out, has become very complex over the past ten years. Modern POS hardware includes the cash till, bar-code readers...</p>
						</div>
					</div>
				</article>
			</section> <!-- end don't miss -->

		</div> <!-- end blog content -->

		<!-- Sidebar -->
		<aside class="col-md-4 sidebar sidebar--right">

			<!-- Widget Popular Posts -->
			<div class="widget widget-popular-posts">
				<h4 class="widget-title">Popular Posts</h4>
				<ul class="widget-popular-posts__list">
					<li>
						<article class="clearfix">
							<div class="widget-popular-posts__img-holder">
								<span class="widget-popular-posts__number">1</span>
								<div class="thumb-container">
									<a href="single-post.html">
										<img data-src="img/blog/popular_post_1.jpg" src="img/blog/popular_post_1.jpg" alt="" class="lazyload">
									</a>
								</div>
							</div>
							<div class="widget-popular-posts__entry">
								<h3 class="widget-popular-posts__entry-title">
									<a href="single-post.html">How to get better Apple Watch battery life</a>
								</h3>
							</div>                      
						</article>
					</li>
					<li>
						<article class="clearfix">
							<div class="widget-popular-posts__img-holder">
								<span class="widget-popular-posts__number">2</span>
								<div class="thumb-container">
									<a href="single-post.html">
										<img data-src="img/blog/popular_post_2.jpg" src="img/blog/popular_post_2.jpg" alt="" class="lazyload">
									</a>
								</div>
							</div>
							<div class="widget-popular-posts__entry">
								<h3 class="widget-popular-posts__entry-title">
									<a href="single-post.html">8 Hidden Costs of Starting and Running a Business</a>
								</h3>
							</div>                      
						</article>
					</li>
					<li>
						<article class="clearfix">
							<div class="widget-popular-posts__img-holder">
								<span class="widget-popular-posts__number">3</span>
								<div class="thumb-container">
									<a href="single-post.html">
										<img data-src="img/blog/popular_post_3.jpg" src="img/blog/popular_post_3.jpg" alt="" class="lazyload">
									</a>
								</div>
							</div>
							<div class="widget-popular-posts__entry">
								<h3 class="widget-popular-posts__entry-title">
									<a href="single-post.html">The iPhone of Drones Is Being Built by This Teenager</a>
								</h3>
							</div>                      
						</article>
					</li>
					<li>
						<article class="clearfix">
							<div class="widget-popular-posts__img-holder">
								<span class="widget-popular-posts__number">4</span>
								<div class="thumb-container">
									<a href="single-post.html">
										<img data-src="img/blog/popular_post_4.jpg" src="img/blog/popular_post_4.jpg" alt="" class="lazyload">
									</a>
								</div>
							</div>
							<div class="widget-popular-posts__entry">
								<h3 class="widget-popular-posts__entry-title">
									<a href="single-post.html">Check Out This Video of Apple's New Futuristic Campus, Shot by a Drone</a>
								</h3>
							</div>                      
						</article>
					</li>
					<li>
						<article class="clearfix">
							<div class="widget-popular-posts__img-holder">
								<span class="widget-popular-posts__number">5</span>
								<div class="thumb-container">
									<a href="single-post.html">
										<img data-src="img/blog/popular_post_5.jpg" src="img/blog/popular_post_5.jpg" alt="" class="lazyload">
									</a>
								</div>
							</div>
							<div class="widget-popular-posts__entry">
								<h3 class="widget-popular-posts__entry-title">
									<a href="single-post.html">The New Media Moguls of Southeast Asia</a>
								</h3>
							</div>                      
						</article>
					</li>
				</ul>
			</div> <!-- end widget popular posts -->

			<!-- Widget Newsletter -->
			<div class="widget widget_mc4wp_form_widget">
				<h4 class="widget-title">Subscribe for Neotech news and receive daily updates</h4>
				<form id="mc4wp-form-1" class="mc4wp-form" method="post">
					<div class="mc4wp-form-fields">
						<p>
							<i class="mc4wp-form-icon ui-email"></i>
							<input type="email" name="EMAIL" placeholder="Your email" required="">
						</p>
						<p>
							<input type="submit" class="btn btn-md btn-color" value="Subscribe">
						</p>
					</div>
				</form>
			</div> <!-- end widget newsletter -->

			<!-- Widget socials -->
			<div class="widget widget-socials">
				<h4 class="widget-title">Keep up with Neotech</h4>
				<ul class="socials">
					<li>
						<a class="social-facebook" href="#" title="facebook" target="_blank">
							<i class="ui-facebook"></i>
							<span class="socials__text">Facebook</span>
						</a>
					</li>
					<li>
						<a class="social-twitter" href="#" title="twitter" target="_blank">
							<i class="ui-twitter"></i>
							<span class="socials__text">Twitter</span>
						</a>
					</li>
					<li>
						<a class="social-google-plus" href="#" title="google" target="_blank">
							<i class="ui-google"></i>
							<span class="socials__text">Google+</span>
						</a>
					</li>
					<li>
						<a class="social-instagram" href="#" title="instagram" target="_blank">
							<i class="ui-instagram"></i>
							<span class="socials__text">Instagram</span>
						</a>
					</li>
				</ul>
			</div> <!-- end widget socials -->

			<!-- Widget Banner -->
			<div class="widget widget_media_image">
				<a href="#">
					<img src="img/blog/placeholder_300.jpg" alt="">
				</a>
			</div> <!-- end widget banner -->

			<!-- Widget Facebook -->
			<div class="widget widget-facebook">
				<div class="fb-page" data-href="https://www.facebook.com/deothemes/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>
				<div id="fb-root"></div>
				<script>(function(d, s, id) {
					var js, fjs = d.getElementsByTagName(s)[0];
					if (d.getElementById(id)) return;
					js = d.createElement(s); js.id = id;
					js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
					fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));</script>            
			</div> <!-- end widget facebook -->

			<!-- Widget Latest Reviews -->
			<div class="widget widget-latest-reviews">
				<h4 class="widget-title">Latest Reviews</h4>
				<article class="entry">
					<div class="entry__img-holder">
						<a href="single-post.html">
							<div class="thumb-container">
								<img data-src="img/blog/grid_post_img_8.jpg" src="img/blog/grid_post_img_8.jpg" class="entry__img lazyload" alt="">
							</div>
						</a>
					</div>

					<div class="entry__body">
						<div class="entry__header">
							<a href="categories.html" class="entry__meta-category">devices</a>
							<h2 class="entry__title">
								<a href="single-post.html">8 Hidden Costs of Starting and Running a Business</a>
							</h2>
						</div>
						<ul class="entry__meta">
							<li class="entry__meta-rating">
					<i class="ui-star"></i><!--
					--><i class="ui-star"></i><!--
					--><i class="ui-star"></i><!--
					--><i class="ui-star"></i><!--
				--><i class="ui-star-outline"></i>
			</li>
		</ul>
	</div>
</article>
<ul class="post-list-small">
	<li class="post-list-small__item">
		<article class="post-list-small__entry">
			<a href="single-post.html" class="clearfix">
				<div class="post-list-small__img-holder">
					<div class="thumb-container">
						<img src="img/blog/post_list_small_2.jpg" class="post-list-small__img" alt="">
					</div>
				</div>
				<div class="post-list-small__body">
					<h3 class="post-list-small__entry-title">
						The iPhone of Drones Is Being Built by This Teenager
					</h3>
					<ul class="entry__meta">
						<li class="entry__meta-rating">
						  <i class="ui-star"></i><!--
						  --><i class="ui-star"></i><!--
						  --><i class="ui-star"></i><!--
						  --><i class="ui-star"></i><!--
						--><i class="ui-star"></i>
					</li>
				</ul>
			</div>
		</a>                                        
	</article>
</li>
<li class="post-list-small__item">
	<article class="post-list-small__entry">
		<a href="single-post.html" class="clearfix">
			<div class="post-list-small__img-holder">
				<div class="thumb-container">
					<img src="img/blog/post_list_small_1.jpg" class="post-list-small__img" alt="">
				</div>
			</div>
			<div class="post-list-small__body">
				<h3 class="post-list-small__entry-title">
					What Indie Beauty Companies Can Teach Entrepreneurs About Scaling
				</h3>
				<ul class="entry__meta">
					<li class="entry__meta-rating">
						  <i class="ui-star"></i><!--
						  --><i class="ui-star"></i><!--
						  --><i class="ui-star"></i><!--
						  --><i class="ui-star"></i><!--
						--><i class="ui-star"></i>
					</li>
				</ul>
			</div>
		</a>                                        
	</article>
</li>
</ul>
</div> <!-- end widget latest reviews -->

</aside> <!-- end sidebar -->

</div> <!-- end row -->

<!-- Ad Banner 728 -->
<div class="text-center pt-40 pb-40">
	<a href="#">
		<img src="img/blog/placeholder_728.jpg" alt="">
	</a>
</div>

<!-- Latest Videos -->
<section class="section-wrap pt-20">
	<div class="section-title-wrap">
		<h3 class="section-title">Latest Videos</h3>
	</div>

	<div class="video-playlist">

		<div class="video-playlist__content thumb-container">
			<div class="embed-responsive embed-responsive-16by9">
				<iframe src="https://www.youtube.com/embed/mn6Ia5e_suY?feature=oembed" class="video-playlist__content-video">
				</iframe>
			</div>
		</div>

		<div class="video-playlist__list">
			<a href="https://www.youtube.com/embed/mn6Ia5e_suY?feature=oembed&autoplay=1" class="video-playlist__list-item video-playlist__list-item--active">
				<div class="video-playlist__list-item-thumb thumb-container">
					<img data-src="https://i.ytimg.com/vi/mn6Ia5e_suY/default.jpg" src="https://i.ytimg.com/vi/mn6Ia5e_suY/default.jpg" class="video-playlist__list-item-img lazyload" alt="">
				</div>
				<div class="video-playlist__list-item-description">
					<h4 class="video-playlist__list-item-title">Top 5 New Tech Gadgets You Must Have In 2017</h4>
				</div>
			</a>
			<a href="https://www.youtube.com/embed/x68XnWszi2A?feature=oembed&autoplay=1" class="video-playlist__list-item">
				<div class="video-playlist__list-item-thumb thumb-container">
					<img data-src="https://i.ytimg.com/vi/x68XnWszi2A/default.jpg" src="https://i.ytimg.com/vi/mn6Ia5e_suY/default.jpg" class="video-playlist__list-item-img lazyload" alt="">
				</div>
				<div class="video-playlist__list-item-description">
					<h4 class="video-playlist__list-item-title">10 Amazing Gadgets You Can Buy Now On Amazon</h4>
				</div>
			</a>
			<a href="https://www.youtube.com/embed/TXFrCy47ue8?feature=oembed&autoplay=1" class="video-playlist__list-item">
				<div class="video-playlist__list-item-thumb thumb-container">
					<img data-src="https://i.ytimg.com/vi/TXFrCy47ue8/default.jpg" src="https://i.ytimg.com/vi/mn6Ia5e_suY/default.jpg" class="video-playlist__list-item-img lazyload" alt="">
				</div>
				<div class="video-playlist__list-item-description">
					<h4 class="video-playlist__list-item-title">Top 5 Best Drones with HD Camera (Cheap and Affordable Version)</h4>
				</div>
			</a>
			<a href="https://www.youtube.com/embed/rdFXddVsUuQ?feature=oembed&autoplay=1" class="video-playlist__list-item">
				<div class="video-playlist__list-item-thumb thumb-container">
					<img data-src="https://i.ytimg.com/vi/rdFXddVsUuQ/default.jpg" src="https://i.ytimg.com/vi/mn6Ia5e_suY/default.jpg" class="video-playlist__list-item-img lazyload" alt="">
				</div>
				<div class="video-playlist__list-item-description">
					<h4 class="video-playlist__list-item-title">iPhone X Review – Pushing Me to Android</h4>
				</div>
			</a>
		</div>

	</div>
</section> <!-- end latest videos -->

<!-- Recommended -->
<section class="section-recommended">
	<div class="section-title-wrap">
		<h3 class="section-title">Recommended</h3>
	</div> <!-- end title wrap -->

	<!-- Carousel -->
	<div id="flickity-carousel" class="carousel-posts arrows-outside">
		<div class="carousel-cell">
			<article class="entry">
				<div class="thumb-bg-holder entry__bg-img-holder" style="background-image: url('img/blog/post_1.jpg')">
					<a href="single-post.html" class="thumb-url"></a>
					<div class="bottom-gradient"></div>
					<a href="categories.html" class="entry__meta-category entry__meta-category--label">Startups</a>
				</div>
				<div class="thumb-text-holder">   
					<h2 class="thumb-entry-title">
						<a href="single-post.html">Satelite cost tens of millions of dollars to build</a>
					</h2>
				</div>
			</article>
		</div>
		<div class="carousel-cell">
			<article class="entry">
				<div class="thumb-bg-holder entry__bg-img-holder" style="background-image: url('img/blog/post_2.jpg')">
					<a href="single-post.html" class="thumb-url"></a>
					<div class="bottom-gradient"></div>
					<a href="categories.html" class="entry__meta-category entry__meta-category--label">Startups</a>
				</div>
				<div class="thumb-text-holder">   
					<h2 class="thumb-entry-title">
						<a href="single-post.html">The iPhone of Drones Is Being Built by This Teenager</a>
					</h2>
				</div>
			</article>
		</div>
		<div class="carousel-cell">
			<article class="entry">
				<div class="thumb-bg-holder entry__bg-img-holder" style="background-image: url('img/blog/post_3.jpg')">
					<a href="single-post.html" class="thumb-url"></a>
					<div class="bottom-gradient"></div>
					<a href="categories.html" class="entry__meta-category entry__meta-category--label">Startups</a>
				</div>
				<div class="thumb-text-holder">   
					<h2 class="thumb-entry-title">
						<a href="single-post.html">VR and playable on a console</a>
					</h2>
				</div>
			</article>
		</div>
		<div class="carousel-cell">
			<article class="entry">
				<div class="thumb-bg-holder entry__bg-img-holder" style="background-image: url('img/blog/post_4.jpg')">
					<a href="single-post.html" class="thumb-url"></a>
					<div class="bottom-gradient"></div>
					<a href="categories.html" class="entry__meta-category entry__meta-category--label">Startups</a>
				</div>
				<div class="thumb-text-holder">   
					<h2 class="thumb-entry-title">
						<a href="single-post.html">NASA is best known for building rockets</a>
					</h2>
				</div>
			</article>
		</div>
		<div class="carousel-cell">
			<article class="entry">
				<div class="thumb-bg-holder entry__bg-img-holder" style="background-image: url('img/blog/post_5.jpg')">
					<a href="single-post.html" class="thumb-url"></a>
					<div class="bottom-gradient"></div>
					<a href="categories.html" class="entry__meta-category entry__meta-category--label">Startups</a>
				</div>
				<div class="thumb-text-holder">   
					<h2 class="thumb-entry-title">
						<a href="single-post.html">Digital cameras are always changing</a>
					</h2>
				</div>
			</article>
		</div>
		<div class="carousel-cell">
			<article class="entry">
				<div class="thumb-bg-holder entry__bg-img-holder" style="background-image: url('img/blog/post_6.jpg')">
					<a href="single-post.html" class="thumb-url"></a>
					<div class="bottom-gradient"></div>
					<a href="categories.html" class="entry__meta-category entry__meta-category--label">Startups</a>
				</div>
				<div class="thumb-text-holder">   
					<h2 class="thumb-entry-title">
						<a href="single-post.html">Digital cameras are always changing</a>
					</h2>
				</div>
			</article>
		</div>
	</div> <!-- end carousel -->
</section> <!-- end recommended -->

</div> <!-- end content --> 

</main>